<section class="task">
  <input class="toggle" type="checkbox" (click)="completed()" [checked]="task.completed">
  <label>
    {{ task.title }}
  </label>
  <button class="destroy" (click)="remove()"></button>
</section>
