<header class="header">
  <h1>Task list</h1>
  <mat-form-field class="new-task-list">
    <input
      matInput
      type="text"
      class="new-task-list"
      placeholder="Add new task"
      autofocus=""
      [(ngModel)]="newTask.title"
      (keyup.enter)="addTask()"
    />
  </mat-form-field>
</header>
<section class="main" *ngIf="taskList.length > 0">
  <ul class="task-list">
    <li *ngFor="let task of taskList" [ngClass]="{ completed: task.completed }">
      <app-task
        class="view"
        [task]="task"
        (removeTask)="removeTask($event)"
        (completedTask)="completedTask($event)"
      ></app-task>
    </li>
  </ul>
</section>
