html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html,
button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 100%;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
}

:focus {
	outline: 0;
}

.hidden {
	display: none;
}

.new-task-list {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-task-list {
    width: 80%;
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.task-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.task-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.task-list li:last-child {
	border-bottom: none;
}

.task-list li .toggle {
	text-align: center;
	width: 20px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

.task {
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
    transition: color 0.4s;
    
    label {
        padding-left: 40px;
    }
}

.task-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.task-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #046e27b0;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.task-list li .destroy:hover {
	color: #046e27;
}

.task-list li .destroy:after {
	content: '×';
}

.task-list li:hover .destroy {
	display: block;
}